[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CausalModels"]
	path = CausalModels
	url = https://github.com/ander428/causalmodels
